body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100%;
  height: 100%;
  background: url("./images/asfalt-dark.jpg");
  /* background-color: rgba(255, 255, 255, 0.788); */
}
.top {
  position: fixed;
  width: 100%;
  background-color: rgba(54, 154, 248);
}

.tag {
  margin-top: 90px;
  text-align: center;
  font-size: 20px;
  border-bottom: 3px solid rgb(255, 175, 55);
}
button:hover {
  color: black;
}

li {
  list-style-type: "";
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pages {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.pages > button {
  padding: 25px;
}

.hd {
  color: rgb(255, 246, 116);;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
}

.img {
  margin: 10px;
  height: 75vh;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  bottom: 0;
  padding-bottom: 15px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

button,
a {
  color: rgb(255, 246, 116);;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 26px;
  font-weight: 300;
}

a {
  margin-right: 10px;
}

.main {
  display: flex;
  flex-direction: column;
}

.welcome {
  display: flex;
  justify-content: space-evenly;
  height: 60vh;
}

.left {
  display: flex;
  flex-grow: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 50%;
}

.left > div {
  align-self: center;
  margin-top: 60px;
}

#welcomeimg {
  background-color: rgb(236, 236, 236, 0.5);
}

#welcomeleft {
  background: url("./images/asfalt-dark.jpg");
}

#welcomemsg {
  width: 50%;
  text-align: center;
}

.ourstory {
  display: flex;
  flex-direction: row;
  height: 60vh;
}

#ourstorycenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  order: 2;
  padding: 10px;
  height: 100%;
}

#ourstorymsg {
  width: 70%;
}
#ourstoryleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  order: 1;
  padding: 10px;
  background-color: rgb(236, 236, 236, 0.5);
}
#ourstoryright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  order: 3;
  padding: 10px;
  background-color: rgb(236, 236, 236, 0.5);
}

.atxlogos {
  display: flex;
  flex-direction: row;
}
.atxlogos > div {
  padding-right: 10px;
}

.parallax1 {
  height: 500px;
  background-image: url("./images/austin-texas-usa-sunrise-skyline-600w-681676399.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.parallax2 {
  height: 500px;
  background-image: url("./images/10-Must-Stops-in-Austin-with-Kids-Where-to-Stay-Eat-and-What-to-Do-7679821bf0f840548b848888b6e8ccd0.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.parallax3 {
  height: 500px;
  background-image: url("./images/ZUIVgz.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.footer2 {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 3px solid rgb(255, 175, 55);
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(54, 154, 248);
}
.current {
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
  background-color: rgb(236, 236, 236, 0.5);
}
.latelyleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wlcmimage{
  max-width: auto;
  max-height: auto;
}
#btnstyle {
  color: black;
  background: rgb(255, 246, 116);
  border: 1px solid black;
  box-shadow:4px 4px 0 2px rgb(10, 190, 235), 4px 4px 0 3px black;
}
#btnstyle:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(10, 190, 235);
  box-shadow: 4px 4px 0 2px rgb(255, 246, 116), 4px 4px 0 3px black;
}